<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.scripting"
             type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting"
             requirePermission="false" />
  </configSections>

  <microsoft.scripting>
    <languages>
      <language names="IronPython,Python,py"
                extensions=".py"
                displayName="IronPython"
                type="IronPython.Runtime.PythonContext,IronPython" />
      <language names="IronRuby;Ruby,rb"
                extensions=".rb"
                displayName="IronRuby"
                type="IronRuby.Runtime.RubyContext, IronRuby"/>
    </languages>
  </microsoft.scripting>

</configuration>